#canvas {
	background-image: url('../img/background.png');
	position: absolute;
	margin: auto;
	top: 0%;
	right: 0%;
	left: 0%;
	bottom: 0%;
}

#Play {
	font-size: 40px;
	margin-top: 80px;
	margin-left: 460px;
	position: absolute;;
}